<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_ITTServContracts" />
            </wsDualHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITTServ" />
                <binding name="WSHttpBinding_IAuthServ" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/TTSystemCallbacks/"
                binding="wsDualHttpBinding" bindingConfiguration="WSDualHttpBinding_ITTServContracts"
                contract="TTCallbacks.ITTServContracts" name="WSDualHttpBinding_ITTServContracts">
                <identity>
                    <userPrincipalName value="IEWIN7\IEUser" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/TTSystem/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITTServ" contract="TTSvc.ITTServ"
                name="WSHttpBinding_ITTServ">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/TTSystem/auth" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IAuthServ" contract="TTSvc.IAuthServ"
                name="WSHttpBinding_IAuthServ">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>