<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ITTServ" />
            </basicHttpBinding>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITTServ" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/TTSystem/TTService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ITTServ"
                contract="ITTServ" name="WSHttpBinding_ITTServ">
                <identity>
                    <userPrincipalName value="Tirafesi\Tiago" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:8000/TTSystem/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ITTServ" contract="TTService.ITTServ"
                name="BasicHttpBinding_ITTServ" />
        </client>
    </system.serviceModel>
</configuration>