<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ITTServ" />
                <binding name="WSHttpBinding_ITTServ1" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/TTSystem/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ITTServ1" contract="TTSvc.ITTServ"
                name="WSHttpBinding_ITTServ">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>